.container_favorites {
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    background-color: #050016;
    color: white;
    padding: 100px clamp(3.125rem, -5.671rem + 18.52vw, 9.375rem); /*50-1250 для 760-1300*/
}

.container_favoritesCards {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.header_favorites {
    width: max-content;
}


@media (max-width: 768px) {
    .container_favorites {
        padding: 100px 30px;
        text-align: center;
    }
    .movie-card-container {
        padding: 0;
    }
    
}