/* src/Pages/Main/css/MovieCardContainer.css */

.container {
display: flex;
flex-direction: column;
color: white;
padding: 0 40px;
}

.container_filter {
  display: flex;

  justify-content: space-between;
}

.container_componentMovieCard_isLoading {
  width: 100vw;
  height: 200px;
}



.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  position: relative;
  min-height: 200px;
}

.movie-card {
  width: 16%;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}


.movie-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s;
}

@media (hover: hover) {
  .movie-card.hovered::after {
    background: rgba(0, 0, 0, 0.5);
  }
}


.movie-title {
  position: absolute;
  bottom: -350px;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  transition: bottom 0.3s;
}

.movie-title.show {
  bottom: 0;
}

.pagination {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.container_movie_pagination {
  display: flex;
  flex-direction: column;
}



.pagination button {

  padding: 10px 15px;
  background-color: #dcdcdc;
  color: rgb(75, 75, 75);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #00194a;
  color: white;
}



.pagination button:disabled {
  background-color: #565656;
  cursor: not-allowed;
}

.pagination button:disabled:hover {
  background-color: #565656;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #00246c;
  color: white;
}


.pagination .arrow {
  background-color: #00194a;
  color: white;
}


/* src/Pages/Main/css/MovieCardContainer.css */
.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
align-items: flex-start;
  font-family: 'Mulish';
}

.filters button {
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #00143b;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Mulish';
  position: relative; /* Добавлено для позиционирования dropdown */
}

.filters button:hover {
  background-color: #00143bc1;
}

.filterOne {
  display: flex;
  flex-direction: column;
}

.dropdown {
  display: none;
  flex-direction: column;
  background-color: #01194b;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px; /* Отступ для dropdown */
  z-index: 1;
  opacity: 0; /* Начальное значение для анимации */
  transform: translateY(-10px); /* Начальное смещение для анимации */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация */
}

.dropdown.show {
  display: block flex;
  opacity: 1; /* Конечное значение для анимации */
  transform: translateY(0); /* Конечное смещение для анимации */
}


.dropdown label {
  margin-bottom: 5px;
}


.pagination button:hover {
  background-color: #0056b3;
}

.pagination .active {
  background-color: #0056b3;
}

.pagination .arrow {
  padding: 10px 15px;
}

.cyberpunk-checkbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #288cfb;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #288cfb;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 7px;
  height: 7px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {

  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}
.input {
  border: none;
  width: 45px;
  padding: 5px;
  border-radius: 7px;
  background: #cecece;
  transition: 0.3s;
}

.inputYear {
width: 60px;
}

  .input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 5px 5px 5px #c5c5c5,
  inset -20px -20px 60px #ffffff;
  transition: 0.3s;
  }

  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
  }
  
  .favorite-button .heart-icon {
    fill: rgb(255, 255, 255); /* Цвет по умолчанию */
    stroke: #000; /* Черная обводка */
    stroke-width: 1px; /* Толщина обводки */
  }

  .favorite-button .heart-icon:hover {
transform: scale(1.1);
  }
  
  .favorite-button.favorite .heart-icon {
    fill: red; /* Цвет, когда фильм добавлен в избранное */
  }

  @media (max-width: 768px) {

    .blue-block {
      height: 100%;
    }

    .movie-card {
      width: 26%;
    }

    .container_filter {
      flex-direction: column;
      justify-content: flex-start;

    }
    
    .filters {
      flex-wrap: wrap;
      justify-content: start;
      gap: 10px;
    }
    .movie-title {
      position: relative;
      background: none;
      bottom: 0;
      font-size: 13px;
    }

    .container {
      gap: 40px;
    }
    
  }



  @media (max-width: 500px) {
    .movie-card {
      width: 40%;
    }
  }