/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.linkW {
    color: #FFFFFF;
}

.linkB {
    color: #173483;

}

aside, nav, footer, header, section, main {
	display: block;
}


ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}




input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}





.poster_container {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


.description {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 55vw;
    margin: 130px 0px 20px 100px;
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 35px;
    color: #beb8b1;

}

.text{
    width: 33vw;
    font-family: "Maitree";
    font-size: 20px;
    line-height: 30px;
}


.poster {
    width: 100vw;
    height: 90vh;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    color: white;
}


.dots-container {
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: white;
}
